html, body{
    margin:0;
    padding:0;
    background-color: #f0d6db;
    font-size: 12px;
    line-height: 1.4em;
    }
body{
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    font-family: 'Inconsolata', sans-serif;
    }
/* Navigation */
nav#nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #f0d6db;
    border-top: 2px solid #fc2a20;
    z-index: 200;

    }
nav#nav ul{
    list-style-type:none;
    padding: 5px;
    margin: 0;
    height: 30px;
    }
nav#nav ul li{
    float: left;
    padding: 0;
    margin: 0;
    height: 30px;
    }
nav#nav ul li a{
    font-size: 12px;
    line-height: 24px;
    height: 28px;
    padding: 0px 20px;
    border: 2px solid #fc2a20;
    color: #fc2a20;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
    }
nav#nav ul li a:hover, nav#nav ul li a.selected{
    background-color: #fc2a20;
    color: #f0d6db;
    }

/* Post Structure */
.wrapper{
    width: 100%;
    overflow: hidden;
    margin: 40px 0px 80px 0px;
    }
ul.posts{
    list-style: none;
    text-align: center;
    padding: 0px !important;
    margin: 0px auto;

    width: 1090px;


    }
@media screen and (max-width:1490px){
     ul.posts{
         width: 720px;
        }
    }
 @media screen and (max-width:920px){
     ul.posts{
        width: calc(100% - 200px);

        }
    }
 @media screen and (max-width:700px){
     ul.posts{
        width: calc(100% - 60px);
        position: static !important;
        height: auto !important;
        overflow: hidden;
        }
    }
ul.posts li.post{
    position: relative;
    padding: 0;
    text-align: left;
    width: 350px;
    margin: 5px;
    float: left;
    border: 2px solid #fc2a20;
    box-sizing: border-box;
    background-color: #FFF;
    }
ul.posts li.post.about{
    border-bottom: 0;
    }
@media screen and (max-width:920px){
    ul.posts li.post{
        position: static !important;
        width: 100% !important;
        margin: 0 0 5px 0;
        }
    }
ul.posts li.post.full, ul.posts li.post.notes{
    flex-grow: 1;
    max-height: calc(100vh - 120px) !important;
    z-index: 5000;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-self:flex-start;
    }
@media screen and (max-width:920px){
    ul.posts li.post.full, ul.posts li.post.notes{
        width: 100% !important;
        height: unset;
        overflow: hidden;
        margin: 5px 0px !important;
        flex-grow: 1 !important;
        max-height: unset !important;
    }
}
.postControls{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f0d6db;
    border-bottom: 2px solid #fc2a20;
    display: flex;
    min-height: 30px;
    }
.postInner{
    position: relative;
    }

.date{
    flex-grow: 1;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fc2a20;
    border: 0;
    }
.date a{
    color: #fc2a20;
    text-decoration: none;
    padding: 0;
    border: 0;
    }
.date a:hover{
    background-color: #fc2a20;
    color: #f0d6db;
    }
.postControls .fullControl, .postControls .closeControl{
    width: 20px;
    height: 20px;
    border: 2px solid #fc2a20;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #fc2a20;
    margin-left: 5px;
    display: inline-block;
    box-sizing: border-box;
    }
.postControls .fullControl:hover, .postControls .closeControl:hover{
    background-color: #fc2a20;
    color: #f0d6db;
    border: 2px solid #fc2a20;
    }
/* Basics */
::-webkit-scrollbar {
    width: 10px;
    position: fixed;
    right: 12px;
    }
::-webkit-scrollbar-track {
    box-shadow: 0;
    border-radius: 0px;
    background-color: #f0d6db;
    }
.post ::-webkit-scrollbar-track {
    border-left: 0px solid #fc2a20;
    }
::-webkit-scrollbar-thumb {
    background: #fc2a20;
    border-radius: 0px;
    }
.hidden{
    display: none;
    }
figure img{
    width: 100% !important;
    height: auto !important;
    margin-top: 5px;
}

a{
    color: #fc2a20;
    text-decoration: none;
    }
a:hover{
    color: #f0d6db;
    }
p{
    margin: 0;
    padding: 0;
}
p+p{
    padding-top: 5px;
    }
figure + p{
    padding-top: 5px;
    }
p + figure{
    padding-top: 5px !important;
}
img{
    display: block;
    margin: 0;
    padding: 0;
    }
blockquote{
       margin: 5px 0px 5px 20px;
    }
.draggable{
  z-index: 2;
    }
/* Posts, General */
.postContent{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
    }
.postContent.hide{
    padding: 0px;
    }
.postContent.hide p{
    display: block;
    padding: 5px;
    }
.postContent.hide p:last-child{
    border-bottom: 2px solid #fc2a20;
    }
.postContent.hide p span:empty{
    padding: 0px;
    border: 0;
    }
.postContent a{
    padding: 1px;
    border-bottom: 1px solid #fc2a20;
    }
.postContent a:hover{
    background-color: #fc2a20;
    color: #f0d6db;
    }
.tagContainer, .meta{
    width: 100%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f0d6db;
    border-top: 2px solid #fc2a20;
    font-size: 12px;
    }
ul.tags{
    list-style: none;
    padding: 0;
    margin: 0;
    }
ul.tags li{
    display: inline-block;
    margin-right: 5px;
    }
ul.tags li a, .perma a, .notecount a{
    background-color: #fc2a20;
    color: #f0d6db;
    text-transform: uppercase;
    }
ul.tags li a:hover, .perma a:hover, .notecount a:hover{
    background-color: #f0d6db;
    }
.desktopLinks{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: 60px;
    overflow: hidden;
    text-align: center;
    }
@media screen and (max-width:700px){
    .desktopLinks{
        position: static;
        width: 100%;
        padding: 0 40px 30px 40px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        }
    }
.desktopLink{
    width: 100%;
    overflow: hidden;
    display: block;
    padding: 0px 1px;
    margin: 0 0 10px 0;
    border: 0;
    font-size: 30px;
    line-height: 30px;
    word-wrap: break-word;
    }
@media screen and (max-width:700px){
    .desktopLink{
        width: unset;
        display: inline-block;
        font-size: 25px;
        line-height: 25px;
        text-align: center;
        padding: 0px 1px;
        margin: 0 0 10px 10px;
        }
    .desktopLink:first-child{
        margin: 0 0 10px 0;
        }
    .desktopTitle{
        display: none;
        }
    }
.desktopLink p.desktopTitle{
    font-size: 12px;
    line-height: 12px;
    margin-top: 5px;
    }
.desktopLink:hover{
    color: #FFF;
    padding: 0px 1px;
    border: 0;
    }
/* Text Posts */
h1, h2{
    font-size: 12px;
    padding: 0 0 5px 0;
    margin: 0;
}
h3{
    padding: 0;
    margin: 0;
    font-size: 12px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    line-height: 22px;
    background-color: #f0d6db;
    color: #fc2a20;
    border-bottom: 2px solid #fc2a20;
    text-transform: uppercase;
    font-weight: normal;
    }
.text h3 a:hover{
    background-color: #fc2a20;
    color: #f0d6db;
    }
/* Photo Post */
.photosetContainer{
    width: 100%;
    box-sizing: border-box;
    }
.photoset img{
        width: 100% important;
        height: auto !important;
        display: block;
    }
/* Video Posts */
.videoWrapper {
    position: relative;
    padding-bottom: 50%;
    padding-top: 25px;
    height: 0;
    }
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
/* Audio Posts */
.audio iframe{
    width: 100% !important;
    display: block;
    }
/* Link Posts */
.linkThumb{
    width: 100%;
    height: auto;
    border-bottom: 2px solid #fc2a20;
    }
.linkHost, .linkTitle{
    width: 100%;
    border-bottom: 2px solid #fc2a20;
    display: block;
    background-color: #f0d6db;
    padding: 5px;
    box-sizing: border-box;
    text-transform: uppercase;
    }
.linkHost:hover, .linkTitle:hover{
    background-color: #fc2a20;
    color: #f0d6db;
    border-bottom: 2px solid #fc2a20;
    }
/* Answer Posts */
.questionContainer{
    padding: 5px;
    border-bottom: 2px solid #fc2a20;
    }
.answerContainer{
    padding: 5px;
    }
.answererContainer + p{
    display: inline;
    }
.askerContainer, .answererContainer{
    color: #fc2a20;
    text-transform: uppercase;
    }
.asker:hover, .answerer:hover{
    background-color: #fc2a20;
    color: #f0d6db;
    }
.replies{
    padding: 5px;
    }
.answerContainer+.replies{
    border-top: 2px solid #fc2a20;
    }
.replies:empty{
    display: none;
    }
/* Chat Posts */
ul#chat{
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
ul#chat li{
    margin: 0;
    padding: 5px;
    border-top: 2px solid #fc2a20;
    }
ul#chat li:first-child {
    border-top: 0px solid #FFF;
    }
ul#chat li span.label{
    color: #fc2a20;
    }
/* Pagination */
.pagination{
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 1;
    width: 60px;
    overflow: hidden;
    text-align: center;
    }
 @media screen and (max-width:700px){
    .pagination{
        position: static;
        padding: 0px 40px;
        margin: 40px 0 0 0;
        width: 100%;
        box-sizing: border-box;
        text-align: right;
        display: flex;
        justify-content: center;
        }
    .pagination .desktopLink{
        float: right;
    }
     }
/* Notes */
   ul.posts li.post.notes{
        width: 30%;
        flex-grow: 0;
        margin-left: 10px;
        }
    ol.notes {
        list-style-type: none;
        font-weight: 300;
        padding: 5px;
    }
    ol.notes li.note {
        padding-top: 5px;
        font-size: 12px;
    }
     ol.notes li.note:first-child {
         padding-top: 0px;
        }
    ol.notes li.note a{
        color: #fc2a20;
        text-decoration: none;
        font-weight: normal;
        }
    ol.notes li.note a:hover{
        background-color: #fc2a20;
        color: #f0d6db;
        }
    ol.notes li.note img.avatar {
        display: none;
        }
    ol.notes li.note span.action {
        font-weight: normal;
        }
    ol.notes li.note .answer_content {
        font-weight: normal;
        }
    ol.notes li.note blockquote a {
        text-decoration: none;
        }

.note.more_notes_link_container{
        margin-top: 0px;
        text-align: left !important;
        font-size: 12px !important;
        padding-bottom: 0px;
    }
    .note.more_notes_link_container a, a.more_notes_link, .notes_loading{
        text-decoration: none;
        padding: 1px !important;
        margin: 0;
        border: 0 !important;
        background-color: #fc2a20; !important;
        color: #f0d6db !important;
        font-weight: normal !important;
        font-family: 'Inconsolata', sans-serif;
        text-align: left !important;
        font-size: 12px; !important;
        text-transform: uppercase;
    }
     a.more_notes_link:hover{
            color: #fc2a20 !important;
            background-color: #f0d6db !important;
            border-bottom:0;
        }
.clearfix:after {
         visibility: hidden;
         display: block;
         font-size: 0;
         content: " ";
         clear: both;
         height: 0;
         }
    .clearfix { display: inline-block; }
    /* start commented backslash hack \*/
    * html .clearfix { height: 1%; }
    .clearfix { display: block; }
    /* close commented backslash hack */


  #loading{
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      z-index: 5000;
      background-color: #f0d6db;
      color: #fc2a20;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 30px;

        }
    #loading p{
        font-size: 14px;
        text-align: center;
        display: block;
        clear: left;
        margin-top: 10px;
    }
.loaderTwo{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #f0d6db;
    background-color: #fc2a20;
    display: none;
    }
figure video {
    max-width: 100% !important;
}
